* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: bisque;
}

#top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#sidebar {
    display: flex;
    cursor: pointer;
}

.bar {
    padding: 10px;
    margin: 10px;
    border: 4px solid#000;
    width: 100%;
    text-align: center;
    background-color: rgb(227, 192, 149);
    border-radius: 20px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.171);
    font-weight: 700;
    font-size: 1.5rem;
}

.bar:active {
    scale: 0.9;
}

#mid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

img {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.171);
    cursor: pointer;
}

img:hover {
    width: 250px;
    height: 250px;
    transition-duration: 0.5s;
}

img:active {
    scale: 0.9;
}

.plus {
    position: absolute;
    left: 50px;
    z-index: 2;
    left: 350px;
    color: orange;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button,
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}